body {

background: sandybrown;   
font-family: 'Quicksand', sans-serif;
text-align: center;
box-sizing: border-box;
}

section {
background: aliceblue;
margin: 0 auto;
padding: 20px;
margin-top: 20px;
width: 500px;
border-radius: 10px;
text-align: center;




}

div#resultado{
    margin-top: 20px;
    

}

footer{
    margin-top: 15px;
    
}